.list {
    display: flex;
    flex-flow: column nowrap;
    margin-right: 14px;
    margin-left: 17px;
}

.list-item {
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    margin-top: 0;
    margin-bottom: 12px;
    background-color: #26313c;
    direction: rtl;
    justify-content: space-between;
}

.list-item-phone {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list-item-phone-number {
    direction: ltr;
    display: flex;
    align-items: center;
    color: #a5dbff;
}

.list-item-phone-number img {
    margin-right: 5px;
    margin-left: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list-item-phone-icons {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-flow: row nowrap;
}

.list-item-phone-icons img {
    margin-right: 5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.list-item-phone-icons img:first-child {
    margin-right: 0;
}

.list-item-plus {
    width: 35px;
    background-color: #254259;
    text-align: center;
    padding-top: 10px;
}

.list-item-plus:after {
    content: '\2807';
    font-size: 22px;
    padding-left: 5px;
    color: #a5dbff;
    cursor: pointer;
}

.visualizer-image, .sound-image {
    display: none;
    position: relative;
    top: -12px;
}

.visualizer-image img, .sound-image img {
    width: 100%;
}

.context-menu {

    display: none;
    position: absolute;
    background-color: black;
    top: 80px;
    right: 380px;
    width: 168px;
    border: solid 1px #797979;
}

.context-menu .context-menu-item {
    height: 42px;
    border-bottom: solid 1px #797979;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    cursor: pointer;
}

.context-menu .context-menu-item:last-child {
    border-bottom: none;
}

.context-menu .context-menu-item .icon {
    height: 100%;
    width: 30px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: center;
}

.context-menu .context-menu-item .icon.data {
    background-image: url('pictures/dataTool.png');
}

.context-menu .context-menu-item .icon.block {
     background-image: url('pictures/block.png');
 }

.context-menu .context-menu-item .icon.listening {
    background-image: url('pictures/listenerExecute.png');
}

.context-menu .context-menu-item .icon.picture {
    background-image: url('pictures/putOnPhotography.png');
}

.context-menu .context-menu-item .icon.diary {
    background-image: url('pictures/showDiary.png');
}

.context-menu .context-menu-item .icon.people {
    background-image: url('pictures/showPeople.png');
}

.context-menu .context-menu-item .icon.library {
    background-image: url('pictures/showLibrary.png');
}
