#mainBuilding {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#mainBuilding .building-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#mainBuilding .building-border .building-pic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    height: 100%;
}

#mainBuilding .building-border .building-pic img {
    display: flex;
    height: 100%;
}

#mainBuilding .building-border .building-text {
    font-size: 11px;
    text-align: right;
    margin: 10px 16px;
    line-height: 22px;
}

.manVisible {
    display: block;
    position: absolute;
    background-image: url('pictures/icon_man2.png');
    top: 180px;
    right: 380px;
}

.manUnvisible{
    display: none;
}

.strongVisible {
    background-image: url('pictures/yelloRing.png');
    display: block;
}

.weakVisible{
    background-image: url('pictures/greenRing.png');
    display: block;
}

.scoreUnvisible{

}
