html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial;

}

#root {
    height: 100%;
    background-color: #0f1319;
    color: #5f7f94;
}

.box {
    display: flex;
    flex-flow: column;
    height: 100%;
}

.box .header {
    height: 56px;
}

.box .content {
    display: flex;
    flex-flow: row;
    height: 100%;
    margin: 0 5px 10px 5px;
}

.content-inner {
    width: 100%;
}

.main {
    margin-left: 10px;
    margin-right: 10px;
}

.box .footer {
    /*flex: 0 1 40px;*/
    display: flex;
    flex-flow: row;
    margin: 0 5px 5px 5px;
    justify-content: space-between;
}

.footer-inner {
    height: 170px;
    width: 49%;
    direction: rtl;
    padding-left: 16px;
    padding-right: 16px;
}

.footer-inner .title {
    height: 38px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.footer-inner.timeline .title .text:after {
    content: '\002B';
    font-size: 22px;
    padding-right: 5px;
}

.footer-inner.timeline .title .time {
    font-size: 10px;
    padding-bottom: 3px;
}

.footer-inner.timeline {
    margin-left: 10px;
}

.footer-inner img {
    width: 100%;
}

.left-area {
    min-width: 390px;
    max-width: 390px;
}

.right-area {
    min-width: 390px;
    max-width: 390px;
}

.border {
    border: 1px solid #4f5052;
    border-radius: 5px;
}

#header {

}

#header .header-icons {
    float: right;
    margin-top: 5px;
}

#header .header-title img {
    position: absolute;
    left: 43%;
    margin-top: -5px;
}
