#video {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    height: 100%;
}

#video .border {
    height: 301px;
}

#video .border .video-title {
    height: 38px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

#video .border .video-title .time {
    font-size: 10px;
    padding-bottom: 7px;
}

#video .border .video-title .time:after {
    content: '\25BA';
    font-size: 20px;
    padding-left: 5px;
    cursor: pointer;
}

#video .border .video-title .time:before {
    content: '\25C4';
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
}

#video .border .video-title .close-title:before {
    content: '\25BC';
    font-size: 20px;
    padding-right: 5px;
    cursor: pointer;
}

#video .border .video-pic {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#video .border .video-pic img {
    height: 202px;
    width: 356px;
}

#video .border .video-text {
    font-size: 11px;
    text-align: right;
    margin: 10px 16px;
    line-height: 22px;
}

#video .border .video-text .second-line {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

#video .border .video-player {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top:10px;
}

#video .border .video-player img {
    width: 356px;
    height: 34px;
}